.searchBox{
        max-width: 450px;
        min-height: 400px;
        margin: 80px auto;
        padding: 40px 30px 30px 30px;
        background-color: #ecf0f3;
        border-radius: 15px;
        box-shadow: 3px 3px 2px #cbced1, -3px -3px 2px #fff}

        #search{
                margin-top: 20px;
                padding: 10px 175px 10px 165px;
                 }
                 
                 table{
                        width:80%;
                        margin-left: 150px;
                        box-shadow: 3px 3px 2px #cbced1, -3px -3px 2px #fff;
                                /* background-color: rgba(213, 230, 232, 0.5); */
                                background-color: #ecf0f3;
                                border-radius: 15px;
                                box-shadow: 3px 3px 2px #cbced1, -3px -3px 2px #fff
                        
                        }
                        .example-card{
                                border-radius: 25px;
                            background: linear-gradient(white,lightsalmon);
                            /* color: orangered; */
                                padding: 20px;
                                width: 300px;
                                height: 250px;
                        }