/* table{
        width:80%;
        margin-left: 150px;
        box-shadow: 3px 3px 2px #cbced1, -3px -3px 2px #fff;
                background-color: rgba(213, 230, 232, 0.5);
                }

                .example-card {
                        margin: 10px;
                        height: 200px;
                        width: 250px;
                        background-color:  rgba(58, 108, 201, 0.7);
                       } */


                       table{
                        width:80%;
                        margin-left: 150px;
                        box-shadow: 3px 3px 2px #cbced1, -3px -3px 2px #fff;
                                /* background-color: rgba(213, 230, 232, 0.5); */
                                background-color: #ecf0f3;
                                border-radius: 15px;
                                box-shadow: 3px 3px 2px #cbced1, -3px -3px 2px #fff
                        
                        }
                                th{
                                padding:20px 0px 20px 0px;
                               
                                }

                                .example-card{
                                        border-radius: 25px;
                                    background: linear-gradient(white,lightsalmon);
                                    /* color: orangered; */
                                        padding: 20px;
                                        width: 300px;
                                        height: 250px;
                                }